<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Администраторски Панел</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

        body {
            font-family: "Nunito", sans-serif;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url("https://kosmospublishers.com/wp-content/uploads/2018/10/hd-attorney-law-firm-wallpaper-1080p.jpg") no-repeat center center / cover;
            color: #fff;
            margin-bottom: 400px;

        }

        .table,
        .modal-content {
            
            background: rgba(255, 255, 255, 0.8);
            color: #000;
        }

        .table th,
        .table td {
            border-color: #dee2e6;
        }

        .btn-primary,
        .btn-danger {
            border: none;
        }

        .btn-primary {
            background-color: #4CAF50;
          
        }

        .btn-danger {
            background-color: #f44336;
            
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Администраторски Панел</h2>
        <div class="mb-3">
            <a href="/" class="btn btn-light"><i class="fas fa-arrow-left"></i> Начална страница</a>
        </div>

        <h3 style="text-align: center;">Потребители</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Потребителско Име</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="userList">

            </tbody>
        </table>

        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Редактиране на потребител</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editUserForm">
                            <input type="hidden" id="editUserId">
                            <div class="form-group">
                                <label for="editUsername">Потребителско Име</label>
                                <input type="text" class="form-control" id="editUsername">
                            </div>
                            <div class="form-group">
                                <label for="editEmail">Email</label>
                                <input type="email" class="form-control" id="editEmail">
                            </div>
                            <div class="form-group">
                                <label for="editRole">Роля</label>
                                <input type="role" class="form-control" id="editRole">
                            </div>
                            <button type="submit" class="btn btn-primary">Запази промените</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <h3 style="text-align: center;">Адвокати</h3>
        <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addLawyerModal">Добави Адвокат</button>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Име</th>
                    <th>Фамилия</th>
                    <th>Специализация</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="lawyersList">
           
            </tbody>
        </table>

        <div class="modal fade" id="addLawyerModal" tabindex="-1" role="dialog" aria-labelledby="addLawyerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addLawyerModalLabel">Добавяне на Адвокат</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addLawyerForm">
                            <div class="form-group">
                                <label for="lawyerFirstName">Име</label>
                                <input type="text" class="form-control" id="lawyerFirstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lawyerLastName">Фамилия</label>
                                <input type="text" class="form-control" id="lawyerLastName" required>
                            </div>
                            <div class="form-group">
                                <label for="lawyerSpecialization">Специализация</label>
                                <input type="text" class="form-control" id="lawyerSpecialization" required>
                            </div>
                            <div class="form-group">
                                <label for="lawyerEmail">Email</label>
                                <input type="email" class="form-control" id="lawyerEmail" required>
                            </div>
                            <div class="form-group">
                                <label for="lawyerPhone">Телефон</label>
                                <input type="text" class="form-control" id="lawyerPhone" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Добави</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="editLawyerModal" tabindex="-1" role="dialog" aria-labelledby="editLawyerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLawyerModalLabel">Редактиране на Адвокат</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editLawyerForm">
                            <input type="hidden" id="editLawyerId">
                            <div class="form-group">
                                <label for="editLawyerName">Име</label>
                                <input type="text" name="firstName" class="form-control" id="editLawyerName">
                            </div>
                            <div class="form-group">
                                <label for="editLawyerNames">Фамилия</label>
                                <input type="text" name="lastName" class="form-control" id="editLawyerNames">
                            </div>
                            <div class="form-group">
                                <label for="editLawyerSpecialization">Специализация</label>
                                <input type="text" name="specialization" class="form-control"
                                    id="editLawyerSpecialization">
                            </div>
                            <div class="form-group">
                                <label for="editLawyerEmail">Email</label>
                                <input type="email" name="email" class="form-control" id="editLawyerEmail">
                            </div>
                            <div class="form-group">
                                <label for="editLawyerPhone">Телефон</label>
                                <input type="text" name="phone" class="form-control" id="editLawyerPhone">
                            </div>
                            <button type="submit" class="btn btn-primary">Запази промените</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h3 style="text-align: center;">Консултации</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Име на клиента</th>
                <th>Телефон</th>
                <th>Име на адвоката</th>
                <th>Дата и час</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="consultationsList">
       
        </tbody>
    </table>






    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script>


        function updateConsultationStatus(consultationId, status) {
         
            const action = status === 'approved' ? 'approve' : 'decline';

            const url = `/consultations/${consultationId}/${action}`;
            $.ajax({
                url: url,
                type: 'PUT',
                success: function (result) {
                    alert(`Consultation ${status} successfully.`);
                    fetchConsultations();
                },
                error: function (error) {
                    console.error("Error updating consultation: ", error);
                    alert('An error occurred while updating the consultation.');
                }
            });
        }


        $(document).on('click', '.delete-btno', function () {
            const consultationId = $(this).data('consultation-id');
            if (confirm('Сигурни ли сте, че искате да изтриете този запис?')) {
                $.ajax({
                    url: `/admin/consultations/${consultationId}`,
                    type: 'DELETE',
                    success: function (result) {
                        alert('Consultation deleted successfully.');
                        fetchConsultations(); 
                    },
                    error: function (error) {
                        alert('An error occurred while deleting the consultation.');
                        console.error("Error deleting consultation: ", error);
                    }
                });
            }
        });


        function fetchConsultations() {
            $.get('/admin/consultations', function (consultations) {
                console.log(consultations)
                $('#consultationsList').empty();
                consultations.forEach(function (consultation) {
                    
                    var userName = consultation.userModel ? consultation.userModel.first_name : 'Unknown';
                     var userPhone = consultation.userModel ? consultation.userModel.phone_number : 'No phone';
    

                    $('#consultationsList').append(`
                            <tr>
                                <td>${consultation.id}</td>
                                <td>${consultation.userModel ? consultation.userModel.first_name + ' ' + consultation.userModel.last_name : 'Неизвестен'}</td>
                                <td>${consultation.userModel.phone_number}</td>
                                <td>${consultation.userModel ? consultation.lawyer.firstName + ' ' + consultation.lawyer.lastName : 'Неизвестен'}</td>
                                <td>${consultation.appointmentDateTime}</td>
                                <td>${consultation.status}</td>
                                <td>
                                    <button class="btn btn-success" onclick="updateConsultationStatus(${consultation.id}, 'approved')">Одобри</button>
                                    <button class="btn btn-danger" onclick="updateConsultationStatus(${consultation.id}, 'declined')">Отхвърли</button>
                                    <button class="btn btn-danger delete-btno" data-consultation-id="${consultation.id}"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                            </tr>
                        `);
                });
            });
        }





        $(document).ready(function () {
            fetchUsers();
            fetchLawyers();
            fetchConsultations();


            function fetchUsers() {
                $.get('/admin/users', function (users) {
                    $('#userList').empty();
                    users.forEach(function (user) {
                        $('#userList').append(`
                            <tr>
                                <td>${user.id}</td>
                                <td>${user.username}</td>
                                <td>${user.email}</td>
                                <td>${user.role}</td>
                                <td>
                                    <button class="btn btn-primary edit-btn" data-user-id="${user.id}" data-username="${user.username}" data-email="${user.email}" data-role="${user.role}"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger delete-btn" data-user-id="${user.id}"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        `);
                    });
                });
            }

            $(document).on('click', '.edit-btn', function () {
                const userId = $(this).data('user-id');
                const username = $(this).data('username');
                const email = $(this).data('email');
                const role = $(this).data('role');

                $('#editUserId').val(userId);
                $('#editUsername').val(username);
                $('#editEmail').val(email);
                $('#editRole').val(role);

                $('#editUserModal').modal('show');
            });

            $(document).on('click', '.delete-btn', function () {
                const userId = $(this).data('user-id');
                if (confirm('Сигурни ли сте, че искате да изтриете този потребител?')) {
                    $.ajax({
                        url: '/users/' + userId,
                        type: 'DELETE',
                        success: function (result) {
                            fetchUsers();
                        }
                    });
                }
            });

            $('#editUserForm').on('submit', function (e) {
                e.preventDefault();
                const userId = $('#editUserId').val();
                const userData = {
                    username: $('#editUsername').val(),
                    email: $('#editEmail').val(),
                    role: $('#editRole').val()
                };

                $.ajax({
                    url: '/users/' + userId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(userData),
                    success: function (result) {
                        $('#editUserModal').modal('hide');
                        fetchUsers();
                    }
                });
            });

            function fetchLawyers() {
                $.get('/admin/lawyers', function (lawyers) {
                    $('#lawyersList').empty();
                    lawyers.forEach(function (lawyer) {
                        $('#lawyersList').append(`
    <tr>
        <td>${lawyer.id}</td>
        <td>${lawyer.firstName}</td>
        <td>${lawyer.lastName}</td>
        <td>${lawyer.specialization}</td>
        <td>${lawyer.email}</td>
        <td>${lawyer.phone}</td>
        <td>
            <button class="btn btn-primary edit-lawyer-btn" data-lawyer-id="${lawyer.id}" data-firstName="${lawyer.firstName}" data-lastName="${lawyer.lastName}" data-specialization="${lawyer.specialization}" data-email="${lawyer.email}" data-phone="${lawyer.phone}"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger delete-lawyer-btn" data-lawyer-id="${lawyer.id}"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
`);
                    });
                });
            }

            $(document).on('click', '.edit-lawyer-btn', function () {
                const lawyerId = $(this).data('lawyer-id');
                const firstName = $(this).data('firstName');
                const lastName = $(this).data('lastName');

                const specialization = $(this).data('specialization');
                const email = $(this).data('email');
                const phone = $(this).data('phone');

                $('#editLawyerId').val(lawyerId);
                $('#editLawyerName').val(firstName);
                $('#editLawyerNames').val(lastName);
                $('#editLawyerSpecialization').val(specialization);
                $('#editLawyerEmail').val(email);
                $('#editLawyerPhone').val(phone);

                $('#editLawyerModal').modal('show');
            });

            $(document).on('click', '.delete-lawyer-btn', function () {
                const lawyerId = $(this).data('lawyer-id');
                if (confirm('Сигурни ли сте, че искате да изтриете този адвокат?')) {
                    $.ajax({
                        url: '/admin/lawyers/' + lawyerId,
                        type: 'DELETE',
                        success: function (result) {
                            fetchLawyers();
                        }
                    });
                }
            });

            $('#editLawyerForm').on('submit', function (e) {
                e.preventDefault();
                const lawyerId = $('#editLawyerId').val();
                const lawyerData = {
                    firstName: $('#editLawyerName').val(),
                    lastName: $('#editLawyerNames').val(),
                    specialization: $('#editLawyerSpecialization').val(),
                    email: $('#editLawyerEmail').val(),
                    phone: $('#editLawyerPhone').val()
                };

                $.ajax({
                    url: '/admin/lawyers/' + lawyerId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(lawyerData),
                    success: function (result) {
                        $('#editLawyerModal').modal('hide');
                        fetchLawyers();
                    }
                });
            });


            $('#addLawyerForm').on('submit', function (e) {
                e.preventDefault();

                const newLawyerData = {
                    firstName: $('#lawyerFirstName').val(),
                    lastName: $('#lawyerLastName').val(),
                    specialization: $('#lawyerSpecialization').val(),
                    email: $('#lawyerEmail').val(),
                    phone: $('#lawyerPhone').val()
                };

                $.ajax({
                    url: '/admin/lawyers',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newLawyerData),
                    success: function (result) {
                        $('#addLawyerModal').modal('hide');
                        fetchLawyers(); 
                    },
                    error: function (error) {
                        console.error("Error adding lawyer: ", error);
                        
                    }
                });
            });

        });
    </script>

</body>

</html>